{{from applications.zcomix.modules.books import read_link}}
{{extend 'profile/layout.html'}}
<div>
    <div class="books_list_title">
    <h4>RELEASED</h4>
    </div>
    <div id="released_container">
        <table class="table table-condensed table-hover table-striped">
            {{for book in released:}}
            <tr>
                <td>{{=A(book.name, _href=URL(c='books', f='book', args=book.id))}}</td>
                <td>{{=book.release_date.year}}</td>
                <td>
                    {{=read_link(db, book.id, **dict(_class='btn btn-default', _type='button'))}}
                </td>
                <td>
                    {{=A(
                        'Upload',
                        _class='btn btn-default',
                        _href=URL(c='profile', f='book_pages', args=book.id),
                        _type='button',
                    )}}
                </td>
                <td>
                    {{=A(
                        'Edit',
                        _class='btn btn-default modal-btn',
                        _href=URL(c='profile', f='book_edit', args=book.id),
                        _type='button',
                    )}}
                </td>
                <td>
                    {{=A(
                        I('', _class='icon fi-trash size-18 fixme'),
                        _href=URL('fixme'),
                    )}}
                </td>
            </tr>
            {{pass}}
            {{if not released:}}
            <tr>
                <td colspan="7">No records found.</td>
            </tr>
            {{pass}}
        </table>
    </div>

    <div class="books_list_title">
    <h4>ONGOING</h4>
    </div>
    <div id="ongoing_container">
        <table class="table table-condensed table-hover table-striped">
            {{for book in ongoing:}}
            <tr>
                <td>{{=A(book.name, _href=URL(c='books', f='book', args=book.id))}}</td>
                <td>
                    {{=read_link(db, book.id, **dict(_class='btn btn-default', _type='button'))}}
                </td>
                <td>
                    {{=A(
                        'Upload',
                        _class='btn btn-default',
                        _href=URL(c='profile', f='book_pages', args=book.id),
                        _type='button',
                    )}}
                </td>
                <td>
                    {{=A(
                        'Edit',
                        _class='btn btn-default modal-btn',
                        _href=URL(c='profile', f='book_edit', args=book.id),
                        _type='button',
                    )}}
                </td>
                <td>
                    {{=A(
                        I('', _class='icon fi-trash size-18 fixme'),
                        _href=URL('fixme'),
                    )}}
                </td>
                <td>
                    {{=A(
                        'Release',
                        _class='btn btn-default',
                        _href=URL(c='profile', f='book_release', args=book.id),
                        _type='button',
                    )}}
                </td>
            </tr>
            {{pass}}
            {{if not ongoing:}}
            <tr>
                <td colspan="7">No records found.</td>
            </tr>
            {{pass}}
        </table>
    </div>
    <div>
        <a href="{{=URL('book_edit')}}" class="btn btn-default fixme">Add</a>
    </div>
</div>
<script src="{{=URL(c='static', f='bootstrap3-dialog/js/bootstrap-dialog.js')}}"> </script>
<script src="{{=URL(c='static', f='js/books.js')}}"> </script>
