<div id="book_release_section">

<div>
    <p>
    Release a book when all pages are complete and correct: all images files
    are uploaded and pages are sorted in the correct order.
    </p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Releasing a book has the following effect:
    </div>
    <div class="panel-body">
        <ul>
            <li>The book release date is set to today's date.</li>
            <li>The book is packaged for download.</li>
            <li>A torrent is created for the book and it is seeded.</li>
            <li>The book is added to the torrent containing all books from the creator.</li>
            <li>The book is added to the torrent containing all books from zcomix.</li>
            <li>The book pages are locked from further modifications.</li>
        </ul>
    </div>
</div>

{{if page_count > 0:}}
    <div class="instruction">
        Click the <em>Release</em> button to release <em>{{=book.name}}</em>.
        Click the <em>Cancel</em> button if you've changed your mind.
    </div>
{{else:}}
    <div class="panel panel-danger">
        <div class="panel-heading">
            The book <em>{{=book.name}}</em> has no pages. It cannot be released at this time.
        </div>
        <div class="panel-body">
            <ul>
                <li>Edit the book and set the name and description if necessary.</li>
                <li>Upload book pages.</li>
            </ul>
        </div>
    </div>
{{pass}}

<div id="message_panel" class="panel panel-default" style="display: none;">
    <div class="panel-body"></div>
</div>

</div>
