{{import datetime}}
{{from applications.zcomix.modules.books import publication_years}}
<div id="book_edit_section">

{{if book and not book.status:}}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">This book is disabled.</h3>
    </div>
    <div class="panel-body">
    Books are disabled by the site admin if they are under copyright review
    or deemed inappropriate.
    </div>
</div>
{{pass}}

<div id="editable_fields_container"></div>
<div id="links_container">
    <div id="edit_links_container"></div>
</div>

</div>
<script>
//<![CDATA[
    var book_data = {
        'name': {
            'label': '{{=db.book.name.label}}',
            'value': '{{=XML(book.name or "") if book else ""}}',
            'x_editable_settings': {
                'title': 'Enter the title of the book.',
                'disabled': {{if book and book.release_date:}}true{{else:}}false{{pass}},
                'escape': true,
                'inputclass': 'inplace_crud book_name_input',
                'placeholder': 'Book Title',
            },
        },
    }
    var book_data_extra = {};
    {{if book:}}
        {{# Edit mode}}
        book_data_extra = {
            'publication_year': {
                'label': '{{=db.book.publication_year.label}}',
                'value': '{{=book.publication_year or "" if book else str(datetime.date.today().year)}}',
                'x_editable_settings': {
                    'disabled': {{if book and book.release_date:}}true{{else:}}false{{pass}},
                    'inputclass': 'inplace_crud book_publication_year_input',
                    'source': [ {{=publication_years()}} ],
                    'type': 'select',
                },
            },
            'description': {
                'label': '{{=db.book.description.label}}',
                'value': '{{try:}}{{=book.description.encode('string_escape') or ""}}{{except:}}{{=""}}{{pass}}',
                'x_editable_settings': {
                    'inputclass': 'inplace_crud book_description_input',
                    'type': 'textarea',
                },
            },
            'release_date': {
                'label': '{{=db.book.release_date.label}}',
                'value': '{{=book.release_date or "" if book else ""}}',
                'readable': {{if book and book.release_date:}}true{{else:}}false{{pass}},
                'x_editable_settings': {
                    'disabled': {{if book and book.release_date:}}true{{else:}}false{{pass}},
                    'inputclass': 'inplace_crud book_release_date_input',
                    'type': 'date',
                },
            },
            'reader': {
                'label': '{{=db.book.reader.label}}',
                'value': '{{=book.reader if book else db.book.reader.default}}',
                'info': '<i id="book_reader_info" class="icon fi-info"></i>',
                'callback': function(elem) {
                        $('#book_reader_info').tooltip({
                            'html': true,
                            'title': '<div><b>scroller</b> - vertical layout, several images per page</div><div><b>slider</b> - horizontal layout, one image per page</div>',
                            'template': '<div class="tooltip book_reader_tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
                        });
                },
                'x_editable_settings': {
                    'inputclass': 'inplace_crud book_reader_input',
                    'source': [
                        {value: 'scroller', text: 'scroller'},
                        {value: 'slider', text: 'slider'}
                    ],
                    'type': 'select',
                },
            },
            'background_colour': {
                'label': '{{=db.book.background_colour.label}}',
                'value': '{{=book.background_colour if book else db.book.background_colour.default}}',
                'x_editable_settings': {
                    'placement': 'bottom',
                    'showbuttons': false,
                    'title': 'Enter a color for the background',
                    'type': 'colour_picker',
                },
            },
            'border_colour': {
                'label': '{{=db.book.border_colour.label}}',
                'value': '{{=book.border_colour if book else db.book.border_colour.default}}',
                'x_editable_settings': {
                    'placement': 'bottom',
                    'showbuttons': false,
                    'title': 'Enter a color for the border',
                    'type': 'colour_picker',
                },
            },
        };
    {{else:}}
        {{# Add mode}}
        book_data_extra = {
            'name': {
                'x_editable_settings': {
                    'success': function(response, newValue) {
                        if(response && response.status == 'error') {
                            return response.msg;
                        }
                        add_callback(response, newValue);
                    }
                }
            }
        };
    {{pass}}
    $.extend(true, book_data, book_data_extra);

//]]>
</script>
<script>
//<![CDATA[
    function add_callback(response, newValue) {
        var record_id = response.id;
        var dialog = $('#add_book_button').data().dialog;
        if (!dialog) { return; }
        dialog.setData('book_id', record_id);
        dialog.setData('title', newValue);
        dialog.close();
    }

    $(document).ready(function(){
        $('#editable_fields_container').inplace_crud(
            '{{=URL(c='profile', f='book_crud.json', args=(book.id if book else 0))}}',
            '{{=book.id if book else "0"}}',
            {
                source_data: book_data,
            }
        );
        {{if book and book.id:}}
        $('#edit_links_container').inplace_link_crud(
            '{{=URL(c='profile', f='link_crud.json', args=book.id)}}',
            '{{=book.id}}'
        );
        {{else:}}
            setTimeout( function() {
                $('a#name').editable('show');

            }, 300);
        {{pass}}

    });

//]]>
</script>

