{{from applications.zcomix.modules.books import publication_year_range}}
<div id="book_edit_section">

{{if not book.status:}}
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">This book is disabled.</h3>
    </div>
    <div class="panel-body">
    Books are disabled by the site admin if they are under copyright review
    or deemed inappropriate.
    </div>
</div>
{{pass}}
<div id="editable_fields_container"></div>
<div id="links_container">
    <div id="edit_links_container"></div>
</div>

</div>
<script src="{{=URL(c='static', f='bgrins-spectrum-28ab793/spectrum.js')}}"> </script>
{{if DEBUG:}}
    <script src="{{=URL(c='static', f='js/jquery.jeditable.js')}}"> </script>
{{else:}}
    <script src="{{=URL(c='static', f='js/jquery.jeditable.mini.js')}}"> </script>
{{pass}}
<script>
//<![CDATA[
    var book_data = {
        'name': {
            'label': '{{=db.book.name.label}}',
            'value': '{{=book.name or ""}}',
            'writable': {{if book.release_date:}}false{{else:}}true{{pass}},
        },
        'publication_year': {
            'label': '{{=db.book.publication_year.label}}',
            'value': '{{=book.publication_year or ""}}',
            'writable': {{if book.release_date:}}false{{else:}}true{{pass}},
            'jeditable_settings': {
                'type': 'select_with_style',
                'data': "{ {{=XML(
                    ','.join(["""'{x}':'{x}'""".format(x=x) for x in range(*publication_year_range())])
                    )}},'selected': '{{=book.publication_year}}'}",

            },
        },
        'description': {
            'label': '{{=db.book.description.label}}',
            'value': '{{try:}}{{=book.description.encode('string_escape') or ""}}{{except:}}{{=""}}{{pass}}',
            'jeditable_settings': {'type': 'textarea'},
        },
        'release_date': {
            'label': '{{=db.book.release_date.label}}',
            'value': '{{=book.release_date or ""}}',
            'readable': {{if book.release_date:}}true{{else:}}false{{pass}},
            'writable': false,
            'writable': {{if book.release_date:}}false{{else:}}true{{pass}},
            'jeditable_settings': {'type': 'date'},
        },
        'background_colour': {
            'label': '{{=db.book.background_colour.label}}',
            'value': '{{=book.background_colour}}',
            'jeditable_settings': {'type': 'colour_picker'},
        },
        'border_colour': {
            'label': '{{=db.book.border_colour.label}}',
            'value': '{{=book.border_colour}}',
            'jeditable_settings': {'type': 'colour_picker'},
        },
        'reader': {
            'label': '{{=db.book.reader.label}}',
            'value': '{{=book.reader}}',
            'jeditable_settings': {
                'type': 'select_with_style',
                'data': "{'scroller':'scroller','slider':'slider','selected': '{{=book.reader}}'}",
            },
        },
    }
//]]>
</script>
<script src="{{=URL(c='static', f='js/inplace_crud.js')}}"> </script>
<script>
//<![CDATA[
    $(document).ready(function(){
        $('#editable_fields_container').inplace_crud(
            '{{=URL(c='profile', f='book_crud.json', args=book.id)}}',
            {source_data: book_data}
        );
        $('#edit_links_container').inplace_crud(
            '{{=URL(c='profile', f='link_crud.json', args=book.id)}}',
            {links: true}
        );
    });
//]]>
</script>
