{{extend 'profile/layout.html'}}
<div id="edit_links_container"></div>
<div id="add_link_container">
    <div class="input_container">
        <input type="text" name="link_name" value="" id="link_name">
    </div>
    <div class="input_container">
        <input type="text" name="link_url" value="" id="link_url" placeholder="http://www.example.com">
    </div>
</div>
<input type="hidden" name="creator_id" value="{{=creator.id}}" id="creator_id">
<script src="{{=URL(c='static', f='js/jquery.jeditable.mini.js')}}"> </script>
<script src="{{=URL(c='static', f='js/links_editable.js')}}"> </script>
