{{from applications.zcomx.modules.books import formatted_name, magnet_uri, torrent_url}}

<div id="download_modal_page">

<div class="download_modal_book">{{=formatted_name(db, book, include_publication_year=(book.release_date != None))}}</div>

<dl>
    <dt>cbz</dt>
    <dd>
        <ul class="breadcrumb pipe_delimiter">
            <li>
             <a href="{{=torrent_url(book)}}" class="log_download_link">torrent</a>
            </li>
            <li>
                <a href="{{=magnet_uri(book)}}" class="log_download_link">dc</a>
            </li>
        </ul>
    </dd>
</dl>

</div>

<script>
//<![CDATA[
    $(document).ready(function(){
        $('.log_download_link').log_download_link(
            {{=book.id}},
            {
                formkey: '{{=form.formkey}}',
                formname: '{{=form.formname}}'
            }
        );
    });
//]]>
</script>
