{{from applications.zcomx.modules.books import cbz_link, formatted_name, magnet_link, torrent_link}}

<div id="download_modal_page">

<div class="download_modal_book">{{=formatted_name(db, book, include_publication_year=(book.release_date != None))}}</div>

<dl>
    <dt>cbz</dt>
    <dd>
        <ul class="breadcrumb pipe_delimiter">
            <li>
                {{=torrent_link(book, ['torrent'])}}
            </li>
            <li>
                {{=magnet_link(book, ['dc'])}}
            </li>
            <li>
                {{=cbz_link(book, ['direct'])}}
            </li>
        </ul>
    </dd>
</dl>

</div>

<script>
//<![CDATA[
    $(document).ready(function(){
        $('.log_download_link').log_download_link();
    });
//]]>
</script>
