{{from applications.zcomx.modules.zco import Zco}}

<div id="download_modal_page">

<div class="loading_gif_overlay">
    <div class="loading_gif loading_gif_centered loading_32x32 processing"></div>
</div>

<table id="downloads_modal_table">
    <tr>
        <td class="downloads_modal_label">
            <select id="books_ddm"></select>
        </td>
        <td class="downloads_modal_label">cbz</td>
        <td id="book_torrent_link"></td>
        <td class="pipe_delimiter">&#124;</td>
        <td id="book_magnet_link"></td>
        <td class="pipe_delimiter">&#124;</td>
        <td id="book_cbz_link"></td>
    </tr>
    <tr>
        <td class="downloads_modal_label">
            <select id="creators_ddm"></select>
        </td>
        <td class="downloads_modal_label">cbz</td>
        <td id="creator_torrent_link"></td>
    </tr>
    <tr>
        <td class="downloads_modal_label">All zco.mx</td>
        <td class="downloads_modal_label">cbz</td>
        <td>
            <a href="{{=URL(**Zco().all_torrent_url)}}">torrent</a>
        </td>
    </tr>
</table>

</div>
<script src="{{=app_js}}/downloads_modal.js"> </script>

<script>
//<![CDATA[
    $(document).ready(function(){
        $('.loading_gif_overlay').hide();
        $('#downloads_modal_table').downloads_handler({
            'default_creator_id': {{=creator_id}},
            'default_book_id': {{=book_id}},
        })
    });
//]]>
</script>
