!.gitignore
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
!welcome.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
logging.conf
gluon/tests/VERSION
gluon/tests/sql.log
httpserver.log
httpserver.pid
parameters*.py
sitemap.xml
./.cache
./deposit
./benchmark
./build
./dist*
./dummy_tests
./optional_contrib
./ssl
./docs
./logs
./tags
./*.zip
./gluon/*.1
./gluon/*.txt
./admin.w2p
./examples.w2p
cron.master
applications/*/cache/*
applications/*/databases/*
!applications/*/databases/.gitignore
applications/*/errors/*
!applications/*/errors/.gitignore
applications/*/models/0_migrate.py
applications/*/private/settings.conf
applications/*/private/settings.json
applications/*/private/var
applications/*/private/var/*
applications/*/sessions/*
!applications/*/sessions/.gitignore
applications/*/uploads/*
!applications/*/uploads/.gitignore
applications/*/*.py[oc]
applications/*/static/epydoc
applications/*/static/sphinx
applications/*/static/data/*
!applications/*/static/data/.gitignore
applications/*/static/files/*
!applications/*/static/files/.gitignore
!applications/*/static/typeahead-v0.11.1
applications/*/cron/cron.master
applications/*/private/test/rss2email/feeds.dat
logs/
