@font-face {
    font-family: 'brushy_cre';
    src: url('Brushy-Cre.eot');
    src: url('Brushy-Cre.eot?#iefix') format('embedded-opentype'),
         url('Brushy-Cre.woff') format('woff'),
         url('Brushy-Cre.ttf') format('truetype'),
         url('Brushy-Cre.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
