{{import urllib}}
{{extend 'layout_main.html'}}

<div id="help_section">

{{=LOAD(c='z', f='top', args='page_not_found', extension='load', ajax=False, content='')}}

<h3>Page not found</h3>
<p>
{{=message}}
</p>

{{if urls.invalid:}}
<ul>
    <li>
        <span class="table_cell">Requested page:</span>
        {{=urls.invalid}}
    </li>
</ul>
{{pass}}

{{if urls.suggestions:}}
Suggestions:

<ul>
    {{for suggestion in urls.suggestions:}}
        {{if suggestion['url']:}}
        <li>
            <span class="table_cell">{{=suggestion['label']}}</span>
            <a href="{{=suggestion['url']}}">{{=urllib.unquote(suggestion['url'])}}</a>
        </li>
        {{pass}}
    {{pass}}
</ul>

{{pass}}

</div>
