{{from applications.zcomx.modules.creators import follow_link, torrent_link, short_url}}
{{from applications.zcomx.modules.images import CreatorImgTag}}
{{from applications.zcomx.modules.utils import ItemDescription}}
{{extend 'layout_main.html'}}
<div id="creator_page">

{{=LOAD(c='z', f='top', args='creator', vars={'creator_id': creator.id}, extension='load', ajax=False, content='')}}

<div class="row" id="creator_id_section">
    <div class="col-sm-12" >
        <div class="row">
            <div class="creator_img_container col-xs-12 col-sm-5">
                <div id="creator_img">
                {{=CreatorImgTag(creator.image, size='web', attributes={'_alt': '', '_class': 'img-responsive'})()}}
                </div>
                <div class="row">
                    <div class="col-sm-12 image_footer">
                        <ul class="breadcrumb pipe_delimiter">
                            <li>
                                {{=follow_link(creator, components=['follow'], **dict(_class='rss_button no_rclick_menu'))}}
                            </li>
                        </ul>
                        {{if creator.photo_credit:}}
                        <div class="photo_credit_section">
                            Photo courtesy of
                            {{if creator.photo_credit_url:}}
                            <a href="{{=creator.photo_credit_url}}" target="_blank">
                            {{pass}}
                            {{=creator.photo_credit}}
                            {{if creator.photo_credit_url:}}
                            </a>
                            {{pass}}
                        </div>
                        {{pass}}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-7" id="name_bio_links">
                <div id="name">
                    <h1>{{=creator.name}}</h1>
                </div>
                <div>
                {{=ItemDescription(creator.bio).as_html(**dict(_id='bio'))}}
                </div>
                <div class="creator_links_container">
                    <dl class="dl-horizontal">
                        <dt>short url</dt>
                        <dd><span class="shortened_url">{{=short_url(creator)}}</span></dd>
                    {{for f in ['website', 'twitter', 'email']:}}
                        {{try:}}
                        {{if creator[f]:}}
                            <dt>{{=f}}</dt>
                            <dd>{{=db.creator[f].represent(creator[f], creator)}}</dd>
                        {{pass}}
                        {{except:}}
                        {{pass}}
                    {{pass}}
                    {{if len(creator_article_link_set) > 0:}}
                        <dt>{{=creator_article_link_set.label()}}</dt>
                        <dd>{{=creator_article_link_set.represent()}}</dd>
                    {{pass}}
                    {{if len(creator_page_link_set) > 0:}}
                        <dt>{{=creator_page_link_set.label()}}</dt>
                        <dd>{{=creator_page_link_set.represent()}}</dd>
                    {{pass}}
                    {{if creator.torrent:}}
                        <dt>torrent </dt>
                        <dd>{{=torrent_link(creator)}}</dd>
                    {{pass}}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="report_section">
    <div class="row" id="options_section">
        <div class="col-sm-12" id="options_container">
            <div class="list_tile_options">
                {{=grid.viewby_buttons()}}
            </div>
            <div class="grid_section_header"><h4>Completed</h4></div>
        </div>
    </div>

    {{if completed_grid:}}
        <div class="grid_section">
        {{=completed_grid}}
        </div>

        <div class="row grid_section_header"><h4>Ongoing</h4></div>
    {{pass}}

    <div class="grid_section">
    {{=ongoing_grid}}
    </div>
</div>

</div>
<script src="{{=URL(c='static', f='js/description.js')}}"> </script>
