{{from applications.zcomx.modules.creators import formatted_name, torrent_link}}
{{from applications.zcomx.modules.images import CreatorImgTag}}
{{from applications.zcomx.modules.utils import ItemDescription}}
{{extend 'layout_main.html'}}
<div id="creator_page">

{{=LOAD(c='default', f='top', args='creator', vars={'creator_id': creator.id}, extension='load', ajax=False, content='')}}

<div class="row" id="bio_section">
    <div class="col-sm-7" id="name_bio">
        <div class="row" id="name">
            <h1>{{=formatted_name(creator)}}</h1>
        </div>
        <div class="row">
        {{=ItemDescription(creator.bio).as_html(**dict(_id='bio'))}}
        </div>
    </div>
</div>

<div class="row" id="creator_id_section">
    <div class="col-sm-12" >
        <div class="row">
            <div class="creator_img_container">
                {{=CreatorImgTag(creator.image, size='web', attributes={'_alt': '', '_class': 'img-responsive'})()}}
            </div>
            <div class="creator_links_container">
                <dl class="dl-horizontal">
                {{for f in ['website', 'twitter', 'email']:}}
                    {{try:}}
                    {{if creator[f]:}}
                        <dt>{{=f}}</dt>
                        <dd>{{=db.creator[f].represent(creator[f], creator)}}</dd>
                    {{pass}}
                    {{except:}}
                    {{pass}}
                {{pass}}
                {{if links:}}
                    <dt>links</dt>
                    <dd>{{=links}}</dd>
                {{pass}}
                {{if creator.torrent:}}
                    <dt>torrent </dt>
                    <dd>{{=torrent_link(creator)}}</dd>
                {{pass}}
                </dl>
            </div>
        </div>
    </div>
</div>

<div id="report_section">
    <div class="row" id="options_section">
        <div class="col-sm-12" id="options_container">
            <div class="list_tile_options">
                {{=grid.viewby_buttons()}}
            </div>
            <div class="grid_section_header"><h4>Released</h4></div>
        </div>
    </div>

    {{if released_grid:}}
        <div class="grid_section">
        {{=released_grid}}
        </div>

        <div class="row grid_section_header"><h4>Ongoing</h4></div>
    {{pass}}

    <div class="grid_section">
    {{=ongoing_grid}}
    </div>
</div>

</div>
<script src="{{=URL(c='static', f='js/description.js')}}"> </script>
