{{extend 'layout.html'}}
<style type="text/css" media="screen">
    {{if request.function == 'slider':}}
    html, body {
        height: 100%;
    }
    {{pass}}
    #reader_section {
        {{if book.background_colour:}}
        background-color: {{=book.background_colour}};
        {{else:}}
        background-color: #ffffff;
        {{pass}}
    }
    #reader_section img {
        {{if book.border_colour:}}
        border: 0.2em solid {{=book.border_colour}};
        {{else:}}
        border: none;
        {{pass}}
    }
</style>
<div class="container">
    <div id="reader_page_header_margin">
        <div id="reader_page_header">
            {{=LOAD(c='default', f='top', args='reader', extension='load', ajax=False, content='')}}
            <div class="row" id="name_creator_section">
                <div class="col-sm-12" id="name_creator_inlay">
                    <div class="row" id="name_creator">
                        <div id="book_name" class="col-sm-8">
                            <a href="{{=URL(c='books', f='book', args=book.id)}}">
                            {{=book.name}} ({{=db.book.publication_year.represent(book.publication_year, book)}})
                            </a>
                        </div>
                        <div id="creator" class="col-sm-8">
                            <div id="creator_name">
                                <a href="{{=URL(c='creators', f='creator', args=creator.id)}}">{{=auth_user.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll_slide_options">
                        <div class="btn-group">
                            {{for s in ['slider', 'scroller']:}}
                                {{status = 'disabled' if request.function == s else 'active'}}
                                {{=A(
                                    SPAN(s if s == 'slider' else 'scroll'),
                                    _href=URL(c='books', f=s, args=request.args, vars=request.vars),
                                    _class='btn btn-default {st}'.format(st=status),
                                    _type='button',
                                    cid=request.cid
                                )}}
                            {{pass}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reader_section">
{{include}}
</div>


<div class="container">
    <div id="reader_page_footer_margin">
        <div id="reader_page_footer">
            <div class="row" id="contribute_download_pager">
                <div class="page_nav_container col-sm-4 col-sm-push-4">
                    {{if request.function == 'slider':}}
                    <ul id="page_nav_list">
                    <li>
                        <a href="#" title="Previous page">
                            <i class="glyphicon glyphicon-step-backward" id="page_nav_prev"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="First page">
                            <i class="glyphicon glyphicon-fast-backward" id="page_nav_first"></i>
                        </a>
                    </li>
                    <li><span>
                            Page <input class="input-sm" type="text" name="page_nav_page_no" value="1" id="page_nav_page_no">
                            of <span id="page_nav_total">1</span>
                        </span>
                    </li>
                    <li>
                        <a href="#" title="Last page">
                            <i class="glyphicon glyphicon-fast-forward" id="page_nav_last"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Next page">
                            <i class="glyphicon glyphicon-step-forward" id="page_nav_next"></i>
                        </a>
                    </li>
                    </ul>
                    {{pass}}
                </div>
                <div class="col-sm-4 col-sm-pull-4" id="contribute_download_container">
                    <ul class="breadcrumb">
                        {{if creator.paypal_email:}}
                        <li>
                            <div id="contribute_widget_container">
                                {{=LOAD(c='contributions', f='contribute_widget', args=book.id, extension='load', ajax=True, content='')}}
                            </div>
                        </li>
                        {{pass}}
                        <li>
                            <a class="breadcrumb" href="#">download</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
