/*
 * Custom font set for zcomix.
 */

@font-face {
  font-family: "zco.mx";
  src: url("zco.mx.eot");
  src: url("zco.mx.eot?#iefix") format("embedded-opentype"),
       url("zco.mx.woff") format("woff"),
       url("zco.mx.ttf") format("truetype"),
       url("zco.mx.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.zc-info:before,
.zc-trash:before,
.zc-logo-sm:before,
.zc-arrows-out:before,
.zc-arrow-down:before,
.zc-arrow-up:before,
.zc-torso:before {
  font-family: "zco.mx";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.zc-info:before { content: "\f100"; }
.zc-trash:before { content: "\f101"; }
.zc-logo-sm:before { content: "\f102"; }
.zc-arrows-out:before { content: "\f103"; }
.zc-arrow-down:before { content: "\f104"; }
.zc-arrow-up:before { content: "\f105"; }
.zc-torso:before { content: "\f106"; }
