{{extend 'layout_main.html'}}

<div id="front_page">

{{=LOAD(c='default', f='top', extension='load', ajax=False, content='')}}

<div class="row" id="options_section">
    <div class="col-sm-12" id="options_container">
        <div class="list_tile_options">
            {{=grid.viewby_buttons()}}
        </div>
        {{=grid.tabs()}}
    </div>
</div>

{{=grid_div}}

</div>


{{block post_bootstrap_js}}
    {{if DEBUG:}}
    <script src="{{=URL(c='static', f='bootstrap3-dialog/js/bootstrap-dialog.js')}}"> </script>
    {{else:}}
    <script src="{{=URL(c='static', f='bootstrap3-dialog/js/bootstrap-dialog.min.js')}}"> </script>
    {{pass}}
{{end}}
<script src="{{=URL(r=request, c='static', f='js/contribute_button.js')}}"> </script>
<script>
//<![CDATA[
    $(document).ready(function(){
        $('.contribute_button').contribute_button();
    });
//]]>
</script>
