{{extend 'layout_main.html'}}

<div id="front_page">

{{=LOAD(c='z', f='top', extension='load', ajax=False, content='')}}

<div class="row" id="options_section">
    <div class="col-sm-12" id="options_container">
        <div class="list_tile_options">

            {{=grid.viewby_buttons()}}
        </div>
        {{=grid.tabs()}}
    </div>
</div>

{{=grid_div}}

{{if grid._include_alpha_paginator:}}
    {{alpha_paginator_classes = []}}
    {{if grid.has_numeric_paginator:}}
        {{alpha_paginator_classes = ['raised']}}
    {{else:}}
        {{alpha_paginator_classes = ['with_border']}}
    {{pass}}
    {{=grid.alpha_paginator().render(container_additional_classes=alpha_paginator_classes)}}
{{pass}}

</div>

<a href="/contributions/modal" id="contribute_thingy" class="contribute_button no_rclick_menu hidden"></a>

<script>
//<![CDATA[
    $(document).ready(function(){
        {{try:}}
        {{=ASSIGNJS(contribute=request.vars.contribute)}}
        {{except:}}
        {{=ASSIGNJS(contribute='')}}
        {{pass}}

        if (contribute) {
            setTimeout( function() {
                $('#contribute_thingy').trigger('click');
            }, 1500);
        }
    });
//]]>
</script>
