{{extend 'layout_main.html'}}

<div id="front_page">

{{=LOAD(c='default', f='top', extension='load', ajax=False, content='')}}

<div class="row" id="options_section">
    <div class="col-sm-12" id="options_container">
        <div class="list_tile_options">
            {{=grid.viewby_buttons()}}
        </div>
        {{=grid.tabs()}}
    </div>
</div>

{{=grid_div}}

</div>

<a href="/contributions/modal" id="contribute_thingy" class="hidden"></a>

<script>
//<![CDATA[
    $(document).ready(function(){
        var contribute = '{{=request.vars.contribute or ""}}';
        if (contribute) {
            $('#contribute_thingy').contribute_button();
            setTimeout( function() {
                $('#contribute_thingy').trigger('click');
            }, 300);
        }
    });
//]]>
</script>
