{{from applications.zcomx.modules.books import formatted_name, publication_years}}
<div id="book_release_section">

<div>
    <p>
    Releasing a book means a CBZ file will be created and shared with
    others via two file sharing networks: bittorrent and direct connect.
    <ul>
        <li>Ensure all images have been uploaded and are in the correct order.</li>
        <li>If you want to use a custom indicia image, make sure it has been uploaded before
releasing the book.</li>
    </ul>
    </p>
    <p>Processing the release of a book can take several minutes.</p>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Releasing a book has the following effect:
    </div>
    <div class="panel-body">
        <ul>
            <li>A CBZ file is created</li>
            <li>The file is added to the Direct Connect network</li>
            <li>A torrent is created for the file and the torrent is seeded</li>
            <li>The file is added to the torrent containing all books from the cartoonist</li>
            <li>The file is added to the torrent containing all books from zco.mx</li>
            <li>The file pages are locked from further modifications</li>
        </ul>
    </div>
</div>

{{if not barriers:}}
    <div class="instruction">
        Edit the year of publication if necessary.
        <div id="editable_fields_container"></div>
    </div>

    <div class="instruction">
        Click the <em>Release</em> button to release <em>{{=formatted_name(db, book)}}</em>.
        Click the <em>Cancel</em> button if you've changed your mind.
    </div>
{{else:}}
    <div class="panel panel-danger">
        <div class="panel-heading">
            The book <em>{{=formatted_name(db, book)}}</em> cannot be released.
        </div>
        <div class="panel-body">
            {{if len(barriers) > 1:}}<ol>{{else:}}<ul>{{pass}}

            {{for barrier in barriers:}}
            <li>
                {{=barrier['reason']}}
                {{if 'description' in barrier:}}
                <div class="release_barrier_description">
                    {{=barrier['description']}}
                </div>
                {{pass}}
                <ul>
                    {{for fix in barrier['fixes']:}}
                    <li>{{=fix}}</li>
                    {{pass}}
                </ul>
            </li>
            {{pass}}
            {{if len(barriers) > 1:}}</ol>{{else:}}</ul>{{pass}}
        </div>
        <div class="panel-footer">
            Once all problems have been resolved, try the release again.
        </div>
    </div>
{{pass}}

<div id="message_panel" class="panel panel-default" style="display: none;">
    <div class="panel-body"></div>
</div>

</div>
<script>
//<![CDATA[
    var book_data = {
        'publication_year': {
            'label': '{{=db.book.publication_year.label}}',
            'value': '{{=book.publication_year or "" if book else str(datetime.date.today().year)}}',
            'x_editable_settings': {
                'disabled': {{if book and book.release_date:}}true{{else:}}false{{pass}},
                'inputclass': 'inplace_crud book_publication_year_input',
                'source': [ {{=publication_years()}} ],
                'type': 'select',
            },
        },
    };

    var release_enabled = {{if barriers:}}false{{else:}}true{{pass}};

    $(document).ready(function(){
        $('#editable_fields_container').inplace_crud(
            '{{=URL(c='login', f='book_crud.json', args=(book.id if book else 0))}}',
            '{{=book.id if book else "0"}}',
            {
                source_data: book_data,
            }
        );
    });
//]]>
</script>
