{{from applications.zcomx.modules.books import formatted_name, publication_years}}
<div id="book_complete_section">

<div>
    <p>
    Marking a book complete means a CBZ file will be created and shared with
    others via two file sharing networks: bittorrent and direct connect.
    </p>
    <p>Before proceeding:</p>
    <ul>
        <li>Ensure all images have been uploaded and are in the correct order.</li>
        <li>If you want to use a custom indicia image, make sure it has been uploaded before
marking the book complete.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Marking a book as complete has the following effect:
    </div>
    <div class="panel-body">
        <ul>
            <li>A CBZ file is created</li>
            <li>The file is added to the Direct Connect network</li>
            <li>A torrent is created for the file and the torrent is seeded</li>
            <li>The file is added to the torrent containing all books from the cartoonist</li>
            <li>The file is added to the torrent containing all books from zco.mx</li>
            <li>The file pages are locked from further modifications</li>
        </ul>
        <p>The process can take several minutes.</p>
    </div>
</div>

{{if not barriers:}}
    <div class="instruction">
        Click the <em>Complete</em> button to mark <em>{{=formatted_name(db, book)}}</em> as complete.
        Click the <em>Cancel</em> button if you've changed your mind.
    </div>
{{else:}}
    <div class="panel panel-danger">
        <div class="panel-heading">
            The book <em>{{=formatted_name(db, book)}}</em> cannot be marked complete.
        </div>
        <div class="panel-body">
            {{if len(barriers) > 1:}}<ol>{{else:}}<ul>{{pass}}

            {{for barrier in barriers:}}
            <li>
                {{=barrier.reason}}
                {{if barrier.description:}}
                <div class="complete_barrier_description">
                    {{=barrier.description}}
                </div>
                {{pass}}
                <ul>
                    {{for fix in barrier.fixes:}}
                    <li>{{=fix}}</li>
                    {{pass}}
                </ul>
            </li>
            {{pass}}
            {{if len(barriers) > 1:}}</ol>{{else:}}</ul>{{pass}}
        </div>
        <div class="panel-footer">
            Once all problems have been resolved, try again.
        </div>
    </div>
{{pass}}

<div id="message_panel" class="panel panel-default" style="display: none;">
    <div class="panel-body"></div>
</div>

</div>
<script>
//<![CDATA[
    var complete_enabled = {{if barriers:}}false{{else:}}true{{pass}};
//]]>
</script>
