{{from applications.zcomx.modules.books import formatted_name}}
<div id="book_fileshare_section">

<div>
    <p>
    Releasing a book for filesharing means a cbz file will be created and
    shared with others via two file sharing networks: bittorrent and direct
    connect.
    </p>
</div>

<div class="show_more_info">
    <p>
    <a href="#" class="show_more_info_link">+ more info</a>
    </p>
</div>
<div class="panel panel-default more_info_panel hidden">
    <div class="panel-heading">
        Releasing a book on the filesharing networks has the following effect:
    </div>
    <div class="panel-body">
        <ul>
            <li>A cbz file is created</li>
            <li>The cbz file is added to the Direct Connect network</li>
            <li>A torrent is created for the cbz file</li>
            <li>The cbz file is added to another torrent, one that contains all books from the cartoonist</li>
            <li>The cbz file is added to a third torrent, one that contains all books from zco.mx</li>
            <li>The book is locked from further modifications</li>
        </ul>
        <p>The process can take up to an hour.</p>
    </div>
</div>

{{if barriers:}}
    <div class="panel panel-danger">
        <div class="panel-heading">
            The book <em>{{=formatted_name(book)}}</em> cannot be released for filesharing.
        </div>
        <div class="panel-body">
            {{if len(barriers) > 1:}}<ol>{{else:}}<ul>{{pass}}

            {{for barrier in barriers:}}
            <li>
                {{=barrier.reason}}
                {{if barrier.description:}}
                <div class="barrier_description">
                    {{=XML(barrier.description)}}
                </div>
                {{pass}}
                <ul>
                    {{for fix in barrier.fixes:}}
                    <li>{{=XML(fix)}}</li>
                    {{pass}}
                </ul>
            </li>
            {{pass}}
            {{if len(barriers) > 1:}}</ol>{{else:}}</ul>{{pass}}
        </div>
        <div class="panel-footer">
            Once all problems have been resolved, try again.
        </div>
    </div>
{{pass}}

<div id="message_panel" class="panel panel-default" style="display: none;">
    <div class="panel-body"></div>
</div>

</div>
<script>
//<![CDATA[
    var fileshare_enabled = {{if barriers:}}false{{else:}}true{{pass}};
    $(document).ready(function(){
        $.fn.set_modal_events({'book_title': '{{=formatted_name(book, include_publication_year=False)}}'});
        $('.show_more_info_link').on('click', function(e){
            $('.more_info_panel').removeClass('hidden');
            $(this).addClass('hidden');
        });
    });
//]]>
</script>
