<div id="profile_book_pages_page">

<div class="fileupload_container">
    <div id="tooltip_text" class="panel panel-default">
        <div class="panel-body">
        <div>Images must be a minimum width of 2560px to be used in Completed books.</div>
        <div>To select a range of files, choose the first file to upload, press and hold 'Shift', then click the last file.</div>
        <div>To select individual files, choose files while holding down the 'Ctrl' key.</div>
        <div>Valid file types: gif, jpg and png</div>
        </div>
    </div>
    <form id="fileupload" class="fileupload-processing" action="/zcomx/login/book_pages_handler/{{=book.id}}" method="POST" enctype="multipart/form-data">
        <noscript><input type="hidden" name="redirect" value="/zcomx/login/book_edit/{{=book.id}}"></noscript>
        <div class="row fileupload-buttonbar">
            <div class="col-xs-12">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="up_files[]" multiple>
                </span>
                <!--
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                -->
                <span class="fileupload-process"></span>
            </div>
            <div class="col-xs-12 fileupload-progress fade">
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
    <br>
</div>


</div>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" data-book_page_id="{%=file.book_page_id%}">
        <td>
            <a href="" class="reorder-arrow reorder-arrow-up" data-dir="up">
            <span class="glyphicon glyphicon-arrow-up" title="Move up"></span>
            </a>
            <a href="" class="reorder-arrow reorder-arrow-down" data-dir="down">
            <span class="glyphicon glyphicon-arrow-down" title="Move down"></span>
            </a>
        </td>
        <td>
            <span class="preview hidden">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" alt=""></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=o.options._error_scrub(file.error)%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <!--
                <input type="checkbox" name="delete" value="1" class="toggle">
                -->
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/vendor/jquery.ui.widget.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Templates/js/tmpl.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Load-Image/js/load-image.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.iframe-transport.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-process.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-image.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-validate.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-ui.js')}}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/cors/jquery.xdr-transport.js')}}"></script>
<![endif]-->
<script src="{{=URL(c='static', f='js/image_upload.js')}}"> </script>
<script>
//<![CDATA[

    $(document).ready(function(){
        $('#fileupload').image_upload(
            'book_page',
            '/zcomx/login/book_pages_handler/{{=book.id}}'
        );
        $('#fileupload').removeClass('fileupload-processing');
        var tooltip_text = $('#tooltip_text').find('.panel-body').first().html();
        var icon = $.fn.zco_utils.tooltip(
            'book_pages_upload',
            tooltip_text
        );
        $('#fileupload').find('.fileinput-button').first().after(icon);
    });
//]]>
</script>
