{{from applications.zcomx.modules.books import formatted_name}}
<div id="book_complete_section">

<div>
    <p>
    Setting a book as <i>Completed</i> moves the book from the <i>Ongoing</i>
    section to the <i>Completed</i> section.  This step will not release the
    book on the filesharing networks. Releasing the book on the filesharing
    networks is optional and is done in <i>Step 2</i>.
    </p>
    <p>
    <span class="emphasize">NOTICE:</span><br/>
    Completed books are locked from further changes.  Make sure all pages are
    in the correct order before proceeding.  To check the order of the pages,
    click
    <a href="{{=URL(c='login', f='book_pages', args=book.id, extension=False)}}" class="modal-upload-btn close_current_dialog no_rclick_menu" data-book_id="{{=book.id}}">here</a>.
    </p>
</div>

{{if barriers:}}
    <div class="panel panel-danger">
        <div class="panel-heading">
            The book <em>{{=formatted_name(book)}}</em> cannot be marked complete.
        </div>
        <div class="panel-body release_barriers">
            {{if len(barriers) > 1:}}<ol>{{else:}}<ul>{{pass}}

            {{for barrier in barriers:}}
            <li>
                <span class="emphasize">{{=barrier.reason}}</span>
                {{if barrier.description:}}
                <div class="barrier_description">
                    {{=XML(barrier.description)}}
                </div>
                {{pass}}
                <ul class="bulletless release_barrier_fixes">
                    {{for fix in barrier.fixes:}}
                    <li>{{=XML(fix)}}</li>
                    {{pass}}
                </ul>
            </li>
            {{pass}}
            {{if len(barriers) > 1:}}</ol>{{else:}}</ul>{{pass}}
        </div>
        <div class="panel-footer">
            Once all problems have been resolved, try again.
        </div>
    </div>
{{else:}}
    {{if metadata:}}
        <p>
        The publication metadata is set to:
        <br />
        <span class="text-muted">{{=metadata}}</span>
        <br />
        To make changes to the metadata, go to the book's
        <a href="{{=URL(c='login', f='book_edit', args=book.id, extension=False)}}" class="modal-edit-ongoing-btn close_current_dialog no_rclick_menu" data-book_id="{{=book.id}}">edit page</a>.
        </p>
    {{pass}}
{{pass}}

<div id="message_panel" class="panel panel-default" style="display: none;">
    <div class="panel-body"></div>
</div>

</div>
<script>
//<![CDATA[
    var complete_enabled = {{if barriers:}}false{{else:}}true{{pass}};
    $(document).ready(function(){
        $.fn.set_modal_events({'book_title': '{{=formatted_name(book, include_publication_year=False)}}'});
    });
//]]>
</script>
