{{from applications.zcomx.modules.images import ImgTag}}
{{extend 'login/layout.html'}}
<div id="indicia_section">

<div id="instructions_container">
    <h4>Overview</h4>
    <ul>
        <li>
            When users read your books, an indicia page is appended as the last
            page.
        </li>
        <li>
            The indicia pages displays your social media links and licence
            details, and allows readers to make a donation.
        </li>
        <li>
            The indicia page has a spot for an image. A default image is
            provided but you can upload your own.
        </li>
        <li>
            The default image is provided by
            <a href="https://marcbelldept.com">Marc Bell</a>.
        </li>
    </ul>
    <h4>Instructions</h4>
    <ul>
        <li>
            Two sample indicia pages are displayed below to give you a preview
            of what your indicia page will look like in portrait and landscape
            orientation.
        </li>
        <li>Click the <i>Upload</i> button to upload a custom indicia image.</li>
        <li>
            Click the <i>Remove</i> button to remove your custom indicia image.
            After your image is removed, you can upload a replacement. If you
            choose not to upload a replacement, the default image will be used.
        </li>
        <li>The minimum upload size for an indicia image is 1600px x 1600px.</li>
        <li>A white or light colour background works best.</li>
    </ul>
</div>

<div id="indicia_image">
    <div class="row_container">
        <div class="arrow_container"></div>
        <div class="image_field_container">
            <div class="fileupload_container">
                <form id="fileupload" action="/zcomx/login/creator_img_handler" method="POST" enctype="multipart/form-data">
                    <noscript><input type="hidden" name="redirect" value="/zcomx/login/creator"></noscript>
                    <div class="row fileupload-buttonbar">
                        <div class="col-xs-12">
                            <div class="no_photo_section">
                                <span class="fileupload-process"></span>
                                <div class="button_container">
                                    <div class="btn btn-default fileinput-button">
                                        <span>Upload</span>
                                        <input id="up_files_input" type="file" name="up_files" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="has_photo_section">
                                <div class="files"> </div>
                            </div>
                            <div class="loading loading_gif loading_32x32 processing"></div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="previews_section row">
</div>

</div>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload fade">
        <div>
            <span class="preview"></span>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </div>
        <div class="progress_buttons_container">
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            <div>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
            </div>
        </div>
    </div>
{% } %}
</script>
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-download fade">
        <div class="button_container">
            {% if (file.deleteUrl) { %}
                <div>
                <button id="remove_button" class="btn btn-default delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <span>Remove</span>
                </button>
                </div>
                <div>
                <button id="change_button" class="btn btn-default">
                    <span>Upload</span>
                </button>
                </div>
            {% } else { %}
                <div class="cancel_container">
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                </div>
            {% } %}
        </div>
        {% if (file.error) { %}
        <div class="file_error_container">
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            <div><span class="label label-danger">Error</span> {%=o.options._error_scrub(file.error)%}</div>
        </div>
        {% } %}
    </div>
{% } %}
</script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/vendor/jquery.ui.widget.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Templates/js/tmpl.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Load-Image/js/load-image.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.iframe-transport.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-process.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-image.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-validate.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-ui.js')}}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/cors/jquery.xdr-transport.js')}}"></script>
<![endif]-->
<script src="{{=app_js}}/indicias.js"> </script>
<script>
//<![CDATA[

    $(document).ready(function(){
        $('#fileupload').image_upload(
            'indicia',
            "{{=URL(c='login', f='creator_img_handler', args='indicia_image')}}"
        );
        $('#fileupload').removeClass('fileupload-processing');
        $('.previews_section').indicia_preview(
            "{{=URL(c='login', f='indicia_preview_urls')}}"
        );
    });
//]]>
</script>
{{block post_bootstrap_js}}
    {{if DEBUG:}}
        <script src="{{=URL(c='static', f='x-editable/bootstrap3-editable/js/bootstrap-editable.js')}}"></script>
    {{else:}}
        <script src="{{=URL(c='static', f='x-editable/bootstrap3-editable/js/bootstrap-editable.min.js')}}"></script>
    {{pass}}
    <script src="{{=app_js}}/image_upload.js"> </script>
{{end}}
