{{import json}}
{{from applications.zcomx.modules.images import CreatorImgTag}}
{{extend 'login/layout.html'}}
<div id="creator_section">

<div class="preview_button">
    <a href="{{=name_url}}" class="btn btn-default" target="_blank" rel="noopener noreferrer">Preview</a>
</div>

<div class="row mug_shot_editable_container">
    <div class="creator_img_container col-md-5 col-lg-5">
        <div id="creator_img"></div>
        <div id="creator_img_remove_container">
            <a href="{{=URL(vars={'remove_image': 1})}}" class="btn btn-default">Remove</a>
        </div>
        <div id="photo_credit_container"></div>
    </div>

    <div class="col-md-0 col-lg-0 vertical_spacer"> </div>

    <div class="col-md-7 col-lg-7">
        <div id="editable_fields_container"></div>
    </div>
</div>

<div id="links_container"></div>

</div>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/vendor/jquery.ui.widget.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Templates/js/tmpl.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Load-Image/js/load-image.all.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.iframe-transport.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-process.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-image.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-validate.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-ui.js')}}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/cors/jquery.xdr-transport.js')}}"></script>
<![endif]-->
<script>
//<![CDATA[
    var creator_data = {
        'name': {
            'label': '',
            'value': '{{=creator.name}}',
            'callback': function(elem) {
                var anchor = $(elem).find('.field_container').find('a');
                anchor.on('nameEditSet', function() {
                    $('.profile_name_edit').profile_name_edit();
                });
                anchor.addClass('profile_name_edit').trigger('nameEditSet');
                anchor.attr('href', '/login/profile_name_edit_modal');
                anchor.removeClass('editable-empty');
            },
            'x_editable_settings': {
                'type': null,
            },
        },
        'name_url': {
            'label': 'name url',
            'value': '{{=name_url}}',
            'x_editable_settings': {
                'disabled': true,
            },
        },
        'short_url': {
            'label': 'shortened url',
            'value': '{{=short_url}}',
            'x_editable_settings': {
                'disabled': true,
            },
        },
        'bio': {
            'label': '{{=db.creator.bio.label}}',
            'value': '{{=json.dumps(creator.bio or "").strip('"')}}',
            'x_editable_settings': {
                'title': 'Enter a brief biography.',
                'escape': true,
                'inputclass': 'inplace_crud creator_bio_input',
                'type': 'textarea',
                'placeholder': 'Enter a brief biography',
            },
        },
        'email': {
            'label': '{{=db.creator.email.label}}',
            'value': '{{=creator.email or ""}}',
            'x_editable_settings': {
                'title': 'Enter your contact email address. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_email_input',
                'emptytext': 'username@example.com',
                'placeholder': 'username@example.com',
            },
        },
        'paypal_email': {
            'label': '{{=db.creator.paypal_email.label}}',
            'value': '{{=creator.paypal_email or ""}}',
            'x_editable_settings': {
                'title': 'Enter your paypal email address. (Optional. Required to receive payments.)',
                'escape': true,
                'inputclass': 'inplace_crud creator_paypal_email_input',
                'emptytext': 'username@example.com',
                'placeholder': 'username@example.com',
            },
        },
        'website': {
            'label': '{{=db.creator.website.label}}',
            'value': '{{=creator.website or ""}}',
            'x_editable_settings': {
                'title': 'Enter your website address. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_website_input',
                'emptytext': 'http://www.example.com',
                'placeholder': 'http://www.example.com',
            },
        },
        'twitter': {
            'label': '{{=db.creator.twitter.label}}',
            'value': '{{=creator.twitter or ""}}',
            'x_editable_settings': {
                'title': 'Enter your twitter handle. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_twitter_input',
                'emptytext': '@username',
                'placeholder': '@username',
            },
        },
        'shop': {
            'label': '{{=db.creator.shop.label}}',
            'value': '{{=creator.shop or ""}}',
            'x_editable_settings': {
                'title': 'Enter the url of the site where your books can be purchased. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_tumblr_input',
                'emptytext': 'http://my.shop.com',
                'placeholder': 'http://my.shop.com',
            },
        },
        'tumblr': {
            'label': '{{=db.creator.tumblr.label}}',
            'value': '{{=creator.tumblr or ""}}',
            'x_editable_settings': {
                'title': 'Enter your tumblr account. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_tumblr_input',
                'emptytext': 'http://username.tumblr.com',
                'placeholder': 'http://username.tumblr.com',
            },
        },
        'facebook': {
            'label': '{{=db.creator.facebook.label}}',
            'value': '{{=creator.facebook or ""}}',
            'x_editable_settings': {
                'title': 'Enter your facebook account. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_facebook_input',
                'emptytext': 'http://www.facebook.com/username',
                'placeholder': 'http://www.facebook.com/username',
            },
        },
    }

    var photo_credit_data = {
        'photo_credit': {
            'label': '{{=db.creator.photo_credit.label}}',
            'value': '{{=json.dumps(creator.photo_credit or "").strip('"')}}',
            'x_editable_settings': {
                'title': 'Enter a photo credit. (Optional)',
                'escape': true,
                'inputclass': 'inplace_crud creator_photo_credit_input',
                'emptytext': "John Smith",
                'placeholder': "John Smith",
            },
        },
        'photo_credit_url': {
            'label': '{{=db.creator.photo_credit_url.label}}',
            'value': '{{=json.dumps(creator.photo_credit_url or "").strip('"')}}',
            'x_editable_settings': {
                'title': "Enter the photo credit's url. (Optional)",
                'escape': true,
                'inputclass': 'inplace_crud creator_photo_credit_url_input',
                'emptytext': 'http://example.com',
                'placeholder': 'http://example.com',
            },
        },
    }
//]]>
</script>
<script>
//<![CDATA[
    $(document).ready(function(){
        $('#editable_fields_container').inplace_crud(
            '{{=URL(c='login', f='creator_crud.json')}}',
            '{{=creator.id}}',
            {
                source_data: creator_data,
            }
        );

        var links_container = $('#links_container').first();
        {{for link_type in link_types:}}
            $(
                  '<fieldset class="link_fieldset">'
                + '<legend>{{=link_type.label}}</legend>'
                + '<div id="{{=link_type.code}}_links" class="edit_links_container"></div>'
                + '</fieldset>'
            ).appendTo(links_container);
            $('#' + '{{=link_type.code}}' + '_links').inplace_link_crud(
                '{{=URL(c='login', f='link_crud.json', args=['creator', creator.id])}}',
                '{{=link_type.code}}',
                {

                    add_container_id: '{{=link_type.code}}' + '_add_container',
                    placeholders: {
                        name: '{{=link_type.name_placeholder}}',
                        url: '{{=link_type.url_placeholder}}',
                    }
                }
            );
        {{pass}}

        $('#creator_img_remove_container').hide();

        $('#creator_img').profile_creator_image();

        $('#photo_credit_container').inplace_crud(
            '{{=URL(c='login', f='creator_crud.json')}}',
            '{{=creator.id}}',
            { source_data: photo_credit_data }
        );
   });
//]]>
</script>
{{block post_bootstrap_js}}
    {{if DEBUG:}}
        <script src="{{=URL(c='static', f='x-editable/bootstrap3-editable/js/bootstrap-editable.js')}}"></script>
    {{else:}}
        <script src="{{=URL(c='static', f='x-editable/bootstrap3-editable/js/bootstrap-editable.min.js')}}"></script>
    {{pass}}
    <script src="{{=app_js}}/inplace_crud.js"> </script>
    <script src="{{=app_js}}/profile.js"> </script>
    <script src="{{=app_js}}/image_squarer.js"> </script>
    <script src="{{=app_js}}/image_upload.js"> </script>
{{end}}
