{{from applications.zcomx.modules.books import formatted_name as formatted_book_name}}
{{from applications.zcomx.modules.creators import formatted_name as formatted_creator_name}}

<div id="contribute_modal_page">

{{if book or creator:}}
Contributions go directly to the cartoonist. Your support enables and
encourages cartoonists to produce books.
<div class="row modal_params_container">
    <div class="col-sm-8" id="options_section">
    {{if creator:}}
    <div class="row" id="options_section">
        <label class="col-sm-4">creator</label>
        <div class="col-sm-8">{{=formatted_creator_name(creator)}}</div>
    </div>
    {{pass}}
    {{if book:}}
    <div class="row" id="options_section">
        <label class="col-sm-4">book</label>
        <div class="col-sm-8">{{=formatted_book_name(db, book, include_publication_year=(book.release_date != None))}}</div>
    </div>
    {{pass}}
    </div>
</div>

{{else:}}
zco.mx is not-for-profit. Your donations help cover the costs of hosting
servers and bandwidth.
{{pass}}

<div id="contribute_widget_container"></div>

</div>
<script>
//<![CDATA[
    $(document).ready(function(){
        {{widget_vars = {} }}
        {{if book:}}
        {{widget_vars['book_id'] = book.id}}
        {{elif creator:}}
        {{widget_vars['creator_id'] = creator.id}}
        {{pass}}
        {{url = URL(c='contributions', f='contribute_widget', vars=widget_vars, extension='load')}}
        var url = "{{=url}}";
        web2py_component(url, 'contribute_widget_container');
    });
//]]>
</script>
