{{
response.files.insert(0,URL('static','js/jquery.js'))
response.include_files()
}}
<form id="paypal_form" action="{{=paypal_url}}" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="{{=business}}">
<input type="hidden" name="lc" value="CA">
<input type="hidden" name="item_name" value="{{=item_name}}">
{{if item_number:}}
<input type="hidden" name="item_number" value="{{=item_number}}">
{{pass}}
{{if amount:}}
<input id="paypal_amount" type="hidden" name="amount" value="{{=amount}}">
{{pass}}
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="no_shipping" value="0">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
<input type="hidden" name="return" value="{{=return_url}}">
<input type="hidden" name="rm" value="2">
<input type="hidden" name="custom" value="{{=next_url}}">
<input type="hidden" name="cancel_return" value="{{=next_url}}">
<input type="hidden" name="cbt" value="Return to zco.mx">
</form>
<script src="{{=app_js}}/paypal.js"> </script>
