{{from applications.zcomx.modules.books import contribute_link, download_link, follow_link, formatted_name as formatted_book_name, show_download_link, is_followable, read_link}}
{{from applications.zcomx.modules.creators import can_receive_contributions, download_link as creator_download_link, url}}
{{from applications.zcomx.modules.images import CreatorImgTag}}
{{from applications.zcomx.modules.utils import ItemDescription}}
{{extend 'layout_main.html'}}
<div id="book_page">

{{=LOAD(c='z', f='top', args='book', vars={'book_id': book.id, 'creator_id': book.creator_id}, extension='load', ajax=False, content='')}}

<div class="row">
    <div class="col-sm-5" id="left_column">
        <div id="book_cover_img" class="row">
            {{=cover_image}}
        </div>
        <div class="row">
            <div class="col-sm-12 image_footer">
                <ul class="breadcrumb pipe_delimiter">
                    <li>
                    {{=read_link(book, components=['read'], _class='zco_book_reader')}}
                    </li>
                    {{if can_receive_contributions(creator):}}
                    <li>
                        {{=contribute_link(book, components=['contribute'], **dict(_class='contribute_button no_rclick_menu'))}}
                    </li>
                    {{pass}}
                    {{if show_download_link(book):}}
                    <li>
                        {{=download_link(book, components=['download'], **dict(_class='download_button no_rclick_menu'))}}
                    </li>
                    {{pass}}
                    {{if is_followable(book):}}
                    <li>
                        {{=follow_link(book, components=['follow'], **dict(_class='rss_button no_rclick_menu'))}}
                    </li>
                    {{pass}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-7" id="right_column">
        <div class="row">
            <div id="book_name">
                {{=formatted_book_name(book, include_publication_year=(book.release_date != None))}}
            </div>
            {{=ItemDescription(book.description).as_html(**dict(_id='book_description'))}}
            <div id="book_id_section">
                <div id="book_specs_column">
                    <div id="book_links">
                        <dl class="dl-horizontal">
                        <dt>pages</dt><dd>{{=page_count}}</dd>
                        <dt>status</dt><dd>{{='completed' if book.release_date else 'ongoing'}}</dd>
                        <dt>views</dt><dd>{{=book.views}}</dd>
                        <dt>downloads</dt><dd>{{=book.downloads or 0}}</dd>
                        {{if len(book_review_link_set) > 0:}}
                            <dt>{{=book_review_link_set.label()}}</dt>
                            <dd>{{=book_review_link_set.represent()}}</dd>
                        {{pass}}
                        {{if len(buy_book_link_set) > 0:}}
                            <dt>{{=buy_book_link_set.label()}}</dt>
                            <dd>{{=buy_book_link_set.represent()}}</dd>
                        {{pass}}
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row" id="creator_id_section">
            <div class="col-sm-12" >
                <div class="row">
                    <div class="creator_img_container">
                        <a href="{{=url(creator, extension=False)}}" title="{{=creator.name}}">
                        {{=CreatorImgTag(creator.image, size='web', attributes={'_alt': '', '_class': 'img-responsive'})()}}
                        </a>
                    </div>
                    <div class="creator_links_container">
                        <dl class="dl-horizontal">
                        <dt>cartoonist</dt>
                        <dd><a href="{{=url(creator, extension=False)}}" title="{{=creator.name}}">{{=creator.name}}</a></dd>
                        {{for f in ['website', 'twitter', 'email']:}}
                            {{try:}}
                            {{if creator[f]:}}
                                <dt>{{=f}}</dt>
                                <dd>{{=db.creator[f].represent(creator[f], creator)}}</dd>
                            {{pass}}
                            {{except:}}
                            {{pass}}
                        {{pass}}
                        {{if len(creator_article_link_set) > 0:}}
                            <dt>{{=creator_article_link_set.label()}}</dt>
                            <dd>{{=creator_article_link_set.represent()}}</dd>
                        {{pass}}
                        {{if len(creator_page_link_set) > 0:}}
                            <dt>{{=creator_page_link_set.label()}}</dt>
                            <dd>{{=creator_page_link_set.represent()}}</dd>
                        {{pass}}
                        {{if creator.torrent:}}
                            <dt>torrent </dt>
                            <dd>{{=creator_download_link(creator, components=['download'], **dict(_class='download_button no_rclick_menu'))}}</dd>
                        {{pass}}
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<script src="{{=app_js}}/description.js"> </script>
