{{extend 'layout.html'}}

<div id="contribute_widget_container" class="hidden">
    {{=LOAD(c='contributions', f='widget', vars={'book_id': book.id}, extension='load', ajax=True, content='')}}
</div>
<div class="loading_gif_overlay">
    <div class="loading_gif loading_gif_centered loading_66x66 processing"></div>
</div>
<div id="reader_controls_overlay">
    <div id="reader_controls_container" class="row">

        <div class="overlay_help_container">
            <a class="btn btn-default bordered_button overlay_button overlay_help_button" href="#"><span class="overlay_help_char">?</span></a>
        </div>

        <div class="overlay_close_container">
            <div>
            <a class="btn btn-default bordered_button overlay_button overlay_close_button" href="#">×</a>
            </div>
            <div class="slider_scroller_button">
            {{=reader_link}}
            </div>
        </div>

        <div class="page_nav_container">
            <ul id="page_nav_list">
            <li>
                <a href="#" title="Previous page">
                    <i class="icon zc-prev" id="page_nav_prev"></i>
                </a>
            </li>
            <li>
                <a href="#" title="First page">
                    <i class="glyphicon glyphicon-fast-backward" id="page_nav_first"></i>
                </a>
            </li>
            <li><span>
                    Page <input class="input-sm" type="text" name="page_nav_page_no" value="1" id="page_nav_page_no">
                    of <span id="page_nav_total">1</span>
                </span>
            </li>
            <li>
                <a href="#" title="Last page">
                    <i class="glyphicon glyphicon-fast-forward" id="page_nav_last"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Next page">
                    <i class="icon zc-next" id="page_nav_next"></i>
                </a>
            </li>
            </ul>
        </div>
    </div>
</div>

<div id="reader_controls_help">
    <div class="float_right">
    <a class="btn btn-default bordered_button help_close_button" href="#">×</a>
    </div>
    <dl>
        <dt>Navigation</dt>
        <dd>
        <table>
            <tr>
                <th>&nbsp;</th>
                <th colspan="2">Slider</th>
                <th colspan="2">Scroller</th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>Keyboard</th>
                <th>Mouse</th>
                <th>Keyboard</th>
                <th>Mouse</th>
            </tr>
            <tr>
                <td>Next page</td>
                <td>Right arrow, Page Dn</td>
                <td>Click right side of image</td>
                <td>Right arrow, Page Dn</td>
                <td>Scroll down</td>
            </tr>
            <tr>
                <td>Prev page</td>
                <td>Left arrow, Page Up</td>
                <td>Click left side of image</td>
                <td>Left arrow, Page Up</td>
                <td>Scroll up</td>
            </tr>
            <tr>
                <td>First page</td>
                <td>Home, Up arrow</td>
                <td>n/a</td>
                <td>Home</td>
                <td>n/a</td>
            </tr>
            <tr>
                <td>Last page</td>
                <td>End, Down arrow</td>
                <td>n/a</td>
                <td>End</td>
                <td>n/a</td>
            </tr>
        </table>
        </dd>
    <dl>
</div>

<div id="reader_section">
{{include}}
</div>

<script>
//<![CDATA[
    function better_as_scroller() {
        if ('{{=use_scroller_if_short_view}}' !== 'True') {
            return false;
        }
        var slider_min_window_h = 600;
        if ($(window).height() > slider_min_window_h) {
            return false;
        }
        return true;
    }

    if (better_as_scroller()) {
        var href = location.href.replace(/[?&]+reader=slider$/g, '');
        var dtr = href.indexOf('?') == -1 ? '?' : '&';
        href = href + dtr + 'reader=scroller';
        location.href = href;
    }
//]]>
</script>
{{block post_bootstrap_js}}
    <script src="{{=URL(c='static', f='js/jquery_ui_position.js')}}"> </script>
    <script src="{{=URL(c='static', f='js/book_reader.js')}}"> </script>
    {{if DEBUG:}}
        <script src="{{=URL(c='static', f='imagesloaded/imagesloaded.pkgd.js')}}"> </script>
        <script src="{{=URL(c='static', f='hammer/hammer.js')}}"> </script>
    {{else:}}
        <script src="{{=URL(c='static', f='imagesloaded/imagesloaded.pkgd.min.js')}}"> </script>
        <script src="{{=URL(c='static', f='hammer/hammer.min.js')}}"> </script>
    {{pass}}
    <script src="{{=URL(c='static', f='hammer/jquery.hammer.js')}}"> </script>
{{end}}
