{{from applications.zcomx.modules.books import formatted_name, url as book_url}}
{{from applications.zcomx.modules.creators import url as creator_url}}
{{extend 'layout.html'}}
<style type="text/css" media="screen">
    {{if reader == 'slider':}}
    html, body {
        height: 100%;
    }
    {{pass}}
    #reader_section {
        {{if book.background_colour:}}
        background-color: {{=book.background_colour}};
        {{else:}}
        background-color: #ffffff;
        {{pass}}
    }
    #reader_section img {
        {{if book.border_colour:}}
        border: 0.4em solid {{=book.border_colour}};
        {{else:}}
        border: none;
        {{pass}}
    }
</style>
<div class="container">
    <div id="reader_page_header_margin">
        <div id="reader_page_header">
            {{=LOAD(c='default', f='top', args='reader', extension='load', ajax=False, content='')}}
            <div class="row" id="name_creator_section">
                <div class="col-sm-12" id="name_creator_inlay">
                    <div class="row" id="name_creator">
                        <div id="book_name" class="col-sm-8">
                            <a href="{{=book_url(book.id, extension=False)}}">
                            {{=formatted_name(db, book)}}
                            </a>
                        </div>
                        <div id="creator" class="col-sm-8">
                            <div id="creator_name">
                                <a href="{{=creator_url(creator.id, extension=False)}}" title="{{=auth_user.name}}">{{=auth_user.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll_slide_options">
                        <div class="btn-group">
                            {{for l in links:}}
                                {{=l}}
                            {{pass}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reader_section">
<a name="reader_section"></a>
{{include}}
</div>

<div class="container">
    <div id="reader_page_footer_margin">
        <div id="reader_page_footer">
            <div class="row" id="contribute_download_pager">
                <div class="page_nav_container col-sm-4 col-sm-push-4">
                    {{if reader == 'slider':}}
                    <ul id="page_nav_list">
                    <li>
                        <a href="#" title="Previous page">
                            <i class="icon zc-prev" id="page_nav_prev"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="First page">
                            <i class="glyphicon glyphicon-fast-backward" id="page_nav_first"></i>
                        </a>
                    </li>
                    <li><span>
                            Page <input class="input-sm" type="text" name="page_nav_page_no" value="1" id="page_nav_page_no">
                            of <span id="page_nav_total">1</span>
                        </span>
                    </li>
                    <li>
                        <a href="#" title="Last page">
                            <i class="glyphicon glyphicon-fast-forward" id="page_nav_last"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Next page">
                            <i class="icon zc-next" id="page_nav_next"></i>
                        </a>
                    </li>
                    </ul>
                    {{pass}}
                </div>
                <div class="col-sm-4 col-sm-pull-4" id="contribute_download_container">
                    <ul class="breadcrumb">
                        {{if creator.paypal_email:}}
                        <li>
                            <div id="contribute_widget_container">
                                {{=LOAD(c='contributions', f='contribute_widget', args=book.id, extension='load', ajax=True, content='')}}
                            </div>
                        </li>
                        {{pass}}
                        <li>
                            <a class="breadcrumb" href="#">download</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//<![CDATA[
    function scrollToAnchor(anchor_id){
        var tag = $("a[name='"+ anchor_id +"']");
        var buffer = 10;
        $('html,body').animate({scrollTop: tag.offset().top + buffer}, 'slow');
    }

    $(document).ready(function(){
        $('#vertical_align_button').click(function(e) {
            if ($(this).hasClass('disabled')) {
                e.preventDefault();
                return;
            }
            scrollToAnchor('reader_section');
            e.preventDefault();
        });
    });
//]]>
</script>
