{{from applications.zcomx.modules.images import ImgTag}}
{{extend 'books/reader.html'}}
<div id="scroller_page">
    <div id="reader_container">
        {{if pages:}}
            {{for count, page in enumerate(pages):}}
            <a name="{{='page_no_{p:03d}'.format(p=page.page_no)}}"></a>
            <div id="img-{{=count}}" class="scroller">
                {{=ImgTag(page.image, size=size)()}}
            </div>
            {{pass}}
        {{else:}}
        No pages found.
        {{pass}}
    </div>
</div>
<script src="{{=URL(c='static', f='js/book_reader.js')}}"> </script>
<script>
//<![CDATA[
    $(document).ready(function(){
        $('#reader_container').book_reader('scroller', {'start_page_no': {{=start_page_no}}});
    });
//]]>
</script>
