{{from applications.zcomx.modules.images import ImgTag}}
{{extend 'books/reader.html'}}
<div id="scroller_page">
    <div id="reader_container">
        {{if pages:}}
            {{for count, page in enumerate(pages):}}
            <div id="{{='page_no_{p:03d}'.format(p=page.page_no)}}">
                <div id="img-{{=count}}" class="scroller">
                    {{if str(page.image) == 'indicia':}}
                    {{=page.content}}
                    {{else:}}
                    {{=ImgTag(page.image, size=size, attributes={'_alt': 'page {p:03d}'.format(p=page.page_no)})()}}
                    {{pass}}
                </div>
            </div>
            {{pass}}
        {{else:}}
        No pages found.
        {{pass}}
    </div>
</div>
<script>
//<![CDATA[
    $(document).ready(function(){
        $('#reader_container').book_reader('scroller', {'start_page_no': {{=start_page_no}}});
    });
//]]>
</script>
{{block post_bootstrap_js}}
    <script src="{{=URL(c='static', f='js/book_reader.js')}}"> </script>
{{end}}
