{{from applications.zcomx.modules.images import ImgTag}}
{{extend 'books/reader.html'}}
<div id="slider_overlay_left"></div>
<div id="slider_overlay_right"></div>
<div id="slider_page">
    <div id="reader_container">
        {{if pages:}}
            {{for count, page in enumerate(pages):}}
                {{if str(page.image) == 'indicia':}}
                <div id="img-{{=count}}" class="slide">
                    {{=page.content}}
                </div>
                {{else:}}
                <div id="img-{{=count}}" data-image="{{=page.image}}" class="slide">
                    <span class="vertical_align_helper"></span>
                </div>
                {{pass}}
            {{pass}}
        {{else:}}
        No pages found.
        {{pass}}
    </div>
</div>

<script>
//<![CDATA[
    $(document).ready(function(){
        $('#reader_container').book_reader('slider',
            {
                'start_page_no': {{=start_page_no}},
                'book_background_colour': '{{=book.background_colour or "white"}}',
                'book_border_colour': '{{=book.border_colour or "white"}}',
                'use_scroller_if_short_view': '{{=use_scroller_if_short_view}}',
            }
        );
    });
//]]>
</script>
